<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <span v-bind:title="title">{{ message }}</span>
    <ol>
        <template v-for="todo in todos" :id="todo.text">
            <li v-if="todo.show">
                <span>{{ todo.text }}</span>
            </li>
        </template>
    </ol>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            title: "这是一个标题",
            todos: [
                {text: '学习 JavaScript', show: true},
                {text: '学习 Vue', show: false},
                {text: '整个 React', show: true}
            ]
        }
    });
</script>
</body>
</html>